<%= render 'errors'%>
<%= form_with(model: @event, local: true) do |f|%>
            <div class="mb-3 text-center" style="margin: 20px;">
            <%= f.label :name, { class: "form-label"} %>
            <%= f.text_field :name, { class: "form-control-md", placeholder: "Event Name" } %>
            </div>

            <div class="mb-3 text-center" style="margin: 20px;">
            <%= f.label :date, { class: "form-label"} %>
            <%= f.date_select :date, { class: "form-control-md", placeholder: "Date Format mm/dd/yy" } %>
            </div>

            <div class="mb-3 text-center" style="margin: 20px;">
            <%= f.label :location, { class: "form-label"} %>
            <%= f.text_field :location, { class: "form-control-md", placeholder: "Location" } %>
            </div>

            <h1 class="text-center m-5">Make sure to create the tickets as well:</h1>

            <%= f.fields_for :tickets do |f_sub| %>
                <div class="mb-3 text-center" style="margin: 20px;">
                <%= f_sub.label :price, { class: "form-label"} %>
                <%= f_sub.number_field :price, { class: "form-control-md", placeholder: "price ex: $10.00"} %>
                </div>

                <div class="mb-3 text-center" style="margin: 20px;">
                <%= f_sub.label :title, { class: "form-label"} %>
                <%= f_sub.text_field :title, { class: "form-control-md", placeholder: "title"} %>
                </div>
            <% end %>


            <div class="text-center mb-5">
            <%= f.submit "Submit", class: "btn btn-primary text-center" %>
            </div>
<% end %>