<h1>Here is a list of all events happening right now!</h1>
<% @events.each do |event| %>
<ul>
    <li>
        Name: <%= event.name %>
    </li>
    <li>
        Date of Event: <%= event.date %>
    </li>
    <li>
        Location: <%= event.location %>
    </li>
    
            <% unless current_user.attended_events.include?(event) %>
            <%= form_with(model: @event_attendence, url: attendees_path, local: true) do |form| %>
                <div class="forms mb-4">
                <%= form.hidden_field :event_id, class: 'form-control', value: event.id %>
                <div class="actions">
                    <%= form.submit 'Attend event', class: 'btn btn-primary mt-2' %>
                </div>
                </div>
            <% end %>
            <% end %>
    
    <%= link_to "View Event", event_path(event), method: :get %>
</ul>
<% end %>
