<h1 class="text-center">Here is a list of all events happening right now!</h1>
<div class="row">
        <% @events.each do |event| %>
            <div class="column">
                <div class="card m-5" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Name: <%= event.name %></h5>
                        <p class="card-text">Date: <%= event.date %></p>
                        <p class="card-text">Location: <%= event.location %></p>
                        <%= render "attendee/attendee_form", event: event %>
                        <%= link_to "View Event", event_path(event), method: :get, class: 'btn btn-primary btn-sm' %>
                    </div>
                </div>
            </div>
        <% end %>
</div>
