<h1 class="text-center m-5">Here is the details for the event:</h1>

<div class="card m-5 mx-auto" style="width: 18rem;">
    <div class="card-body">
        <h3 class="card-title">Name: <%= @event.name %></h3><br>
        <p class="card-text">Date: <%= @event.date %></p>
        <p class="card-text">Location: <%= @event.location %></p>
        <%= link_to "Back to Events", events_path, method: :get, class: 'btn btn-primary btn-sm' %>
    </div>
</div>
<div class="m-5">
    <h1 class="text-center">List of attendees for event</h1><br>
    <h3 class="text-center">Attendees: <%= @event.event_attendees.count %></h3><br>
    <% @event.event_attendees.each do |attendee| %>
        <p class='font-weight-bolder m-3 text-center'><%= attendee.email %></p>
    <% end %>
</div>
